body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:790px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:790px;
}
#u1 {
  position:absolute;
  left:2px;
  top:387px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:600px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:600px;
}
#u3 {
  position:absolute;
  left:2px;
  top:292px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:600px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:600px;
}
#u5 {
  position:absolute;
  left:2px;
  top:292px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:510px;
  top:480px;
  width:280px;
  height:280px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:290px;
}
#u7 {
  position:absolute;
  left:2px;
  top:132px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:40px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:106px;
  top:12px;
  width:305px;
  height:17px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:17px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:70px;
  top:8px;
  width:25px;
  height:25px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:411px;
  top:8px;
  width:25px;
  height:25px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u16 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:440px;
  top:12px;
  width:120px;
  height:17px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1133px;
  top:8px;
  width:25px;
  height:25px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1220px;
  top:8px;
  width:25px;
  height:25px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1047px;
  top:8px;
  width:25px;
  height:25px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1177px;
  top:8px;
  width:25px;
  height:25px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1090px;
  top:8px;
  width:25px;
  height:25px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:447px;
  top:60px;
  width:90px;
  height:50px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:543px;
  top:60px;
  width:90px;
  height:50px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:640px;
  top:60px;
  width:100px;
  height:50px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u34 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:746px;
  top:60px;
  width:90px;
  height:50px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u35_img.mouseOver {
}
#u35.mouseOver {
}
#u36 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1142px;
  top:60px;
  width:100px;
  height:50px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u38 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:843px;
  top:60px;
  width:90px;
  height:50px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u40 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:70px;
  top:68px;
  width:240px;
  height:35px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:939px;
  top:60px;
  width:90px;
  height:50px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u44 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1036px;
  top:60px;
  width:100px;
  height:50px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u45_img.mouseOver {
}
#u45.mouseOver {
}
#u46 {
  position:absolute;
  left:2px;
  top:15px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:422px;
  top:270px;
  width:455px;
  height:68px;
  font-family:'Rage Italic', 'Rage';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#CCFF99;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:68px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:435px;
  top:225px;
  width:430px;
  height:86px;
  font-family:'Rage Italic', 'Rage';
  font-weight:400;
  font-style:italic;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:86px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:571px;
  top:589px;
  width:158px;
  height:62px;
  font-family:'Segoe UI Regular', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:62px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:444px;
  top:340px;
  width:300px;
  height:40px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#AD9677;
  text-align:left;
}
#u54 {
  position:absolute;
  left:744px;
  top:340px;
  width:111px;
  height:40px;
  font-size:15px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
}
#u55 {
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:586px;
  top:480px;
  width:128px;
  height:128px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u57 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:593px;
  top:659px;
  width:70px;
  height:70px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u59 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:634px;
  top:659px;
  width:70px;
  height:70px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u61 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
